@model BusinessManagementSystemApp.Models.Models.CategoryViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width:70%;margin-top:3%;">
    <div class="form-group row">
        <a style="margin-top:2%" href="/Category/Index" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> Category List</a><hr />
        <h3 class="text-info">Save a new category (:-</h3>
        @if (ViewBag.Message != null)
        {
            <h3 width="60%" align="center" class="label-danger">@ViewBag.Message</h3>

        }
    </div>
</div>

<div class="container">
    <form method="post">
        <input type="hidden" name="IsActive" value="True" />
        <input type="hidden" name="Date" value="@DateTime.Now" />
        <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <label>Category Name</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" name="CategoryName" placeholder="Enter category name" value="@if (Model != null) { @Model.CategoryName}" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <label>Code</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" name="CategoryCode" placeholder="Enter category code" value="@if (Model != null) { @Model.CategoryCode}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4"></div>
            <div class="col-md-5">
                <input type="submit" class="btn btn-block btn-success" value="Save" />
            </div>
        </div>
    </form>
</div>

